
@import "variables";
@import "boxsizing";
@import "mixinstyle";


// this is the end of sass short cut variables 

body{
    @include margn_pdn;
}



.main-container{
    max-width: 100%;
    height: 100vh;
    padding: 12px;
    @include flex;
    @include imgbackground;
    
    .container{
        padding: 12px;
        background-color: #1d1d1d;
        width: 332.5px;
        height: 447px;
        border-radius: 10px;
        border-bottom: 15px solid black;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        overflow: auto;

        .img-box{
            background: url(../loginSass/dir/images/imgpr.jpg)no-repeat center center;
            background-size: cover;
            width: 100px;
            margin-top: 20px!important;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            padding: 12px;
        }
    }// this is the end of container class

    form{
        max-width: 100%;
        padding: 12px 17px;
        margin: $cnter;
        color: white;
    
        label{
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
        }
    
        input[type=text] {
            @include inputstyle;
        }
 
        input[type=password]{
            width: 80%!important;
            margin-top: 16px!important;
            margin: $input-margin;
            border-radius: 9px 0 0 9px!important;
            @include inputstyle;
        }

        input[type=submit]{
            width: 100%;
            height: 45px;
            letter-spacing: 5px;
            font-size: 15px;
            border-radius: 9px;
            background-color:  #009461;
            color: rgb(255, 255, 255);
            margin: $input-margin;
            padding: 0 12px;
            border: none;
            outline: none;
            cursor: pointer;
           
        }

        .show_pass{
            width: 20%;
            height: 38px;
            margin-top: -4px;
            cursor: pointer;
            background-color: #9d9d9d!important;
            border-radius: 0 9px 9px 0;

            img{
                width: 23px;
                height: auto;
                @extend .show_pass;
            }
        }

        .show_pass:hover{
            background-color: #8f8f8f!important;
            @extend .show_pass;
        }

        div{
            max-width: 100%;
            overflow: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
    
    }// this is the end of form
       
}// this is the end of main container 

.nwstyle {
    width: 80%!important;
    height: 38px;
    font-size: 15px;
    border-radius: 9px;
    background-color: #d9d6d5;
    margin: 16px 0 20px 0!important;
    padding: 0 12px;
    border-radius: 9px 0 0 9px!important;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


