@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin margn_pdn{
    margin: 0;
    padding: 0;
}

@mixin imgbackground {
    background-image: url('../loginSass/dir/mages/imgbg1.jpg'), url('../loginSass/dir/images/imgbglwresc.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin inputstyle {
    width: 100%;
    height: 38px;
    font-size: 15px;
    border-radius: 9px;
    background-color: #d9d6d5;
    margin: $input-margin;
    padding: 0 12px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
